<div class="navbar">
  <div class="navbar-start">
  </div>
  <div class="navbar-center">
    <p class="text-gray-700 dark:text-gray-300">&copy; <%= Time.now.year %> らんてくん おすすめ記事</p>
  </div>
  <div class="navbar-end">
  </div>
</div>
