<div class="navbar">
  <div class="navbar-start">
  </div>
  <div class="navbar-center">
  </div>
  <div class="navbar-end space-x-2">
    <a href="https://x.com/QiitafromRUNTEQ" class="btn btn-neutral">
      <%= image_tag 'x.png', style: 'height: 36px; width: 36px;' %>
    </a>
    <button class="btn btn-neutral">
      <%= image_tag 'github.png', style: 'height: 36px; width: 36px;' %>
      GitHub Login
    </button>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign in with GitHub', user_github_omniauth_authorize_path %></li>
      <% end %>
    </ul>
  </div>
</div>
